---
const { current = 'en' } = Astro.props;

const flags = {
  en: '/img/en.png',
  ru: '/img/ru.png',
  kz: '/img/kz.png',
};

const languages = ['en', 'ru', 'kz'];
---

<div class="flex gap-2 justify-center items-center">
  {languages.map((lang) => (
    <a
      href={`/${lang}/`}
      title={lang}
      class={`block w-8 h-6 overflow-hidden border ${
        current === lang ? 'border-pink-500' : 'border-gray-300 opacity-60 hover:opacity-100'
      } rounded transition-all`}
    >
      <img
        src={flags[lang]}
        alt={lang}
        class="w-full h-full object-cover"
      />
    </a>
  ))}
</div>
